body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.gameContainer {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.player {
  margin: 10px;
}

.player0 {
  grid-area: 3 / 1 / 7 / 3;
}
.player1 {
  grid-area: 1 / 3 / 3 / 9;
}
.player2 {
  grid-area: 3 / 9 / 7 / 11;
}
.me {
  grid-area: 8 / 1 / 11 / 11;
}
.board {
  grid-area: 3 / 3 / 7 / 9;
  border: 2px solid gray;
}

.card {
  margin-left: -110px !important;
}
