body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #457f3f;
}

* {
  margin: 0px;
  box-sizing: border-box;
  color: white;
  font-weight: bolder;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
#lang > option {
  color: black;
  padding: 5px;
}
.gameContainer {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(9, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 100vh;
}
.player {
  margin: 1em;
}

.player0 {
  grid-area: 3 / 1 / 7 / 4;
}
.player1 {
  grid-area: 1 / 3 / 3 / 15;
}
.player2 {
  grid-area: 3 / 14 / 7 / 17;
}
.me {
  grid-area: 5 / 4 / 7 / 14;
}
.board {
  grid-area: 3 / 4 / 5 / 14;
  border: 2px solid gray;
}
.bottompane {
  grid-area: 7 / 1 / 10 / 17;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.status {
  height: 80px;
  background-color: lightgray;
  color: black;
}
.bottom-status {
  grid-area: 2 / 1 / 9 / 6;
}
.bottom-status-container {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
}
.leaderboard {
  width: 30%;
}
.messages {
  width: 70%;
  border: 2px solid gray;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.all-messages {
  width: 100%;
  padding: 10px;
  background-color: lightgray;
  height: 150px;
}
.send-message {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 50px;
  background-color: gray;
}
.send-message > input {
  width: 80%;
  margin: 5px;
}
.send-message > div {
  width: 20%;
  align-self: center;
  border: 1px solid black;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 5px;
}
table {
  border: 2px solid gray;
  width: 100%;
  height: 200px;
}
td {
  border-bottom: 1px solid lightgray;
  border-right: 1px solid lightgray;
}
input,
#lang {
  margin: 10px;
  padding: 10px;
  width: 40%;
  color: black;
  font-size: larger;
}
.button {
  margin-top: 10px;
  padding: 10px;
  width: 48%;
  color: #457f3f;
  background-color: aliceblue;
  cursor: pointer;
}
.button:hover {
  background-color: rgb(77, 121, 223);
  color: white;
}
.trump-option {
  display: flex;
  justify-content: space-evenly;
  padding-top: 20px;
}
.trump-option > div {
  border: 1px solid lightgray;
  padding: 10px;
}
.board-cards {
  display: flex;
  justify-content: space-around;
}

.text {
  font-size: 100%;
}

.tell-hands {
  display: flex;
  justify-content: center;
  width: auto;
}
.tell-hands > * {
  margin: 5px;
  width: auto;
}
.tell-hands > p {
  margin-top: 15px;
}

.card {
  border: 0;
  vertical-align: initial;
  box-sizing: initial;
}
.hand,
.card {
  margin: 0;
  padding: 0;
}
.active-hand .card {
  cursor: pointer;
}
.hhand {
  display: inline-block;
}
.hhand.active-hand .card:hover {
  padding-top: 0;
  padding-bottom: 10px;
}
.vhand {
  display: block;
}
.vhand .card {
  padding-right: 10px;
}
.hhand-compact {
  display: inline-block;
}
.hhand-compact .card:first-child {
  margin-left: 0;
}
.hhand-compact .card {
  margin-left: -4em;
  width: 6em;
}
.hhand-compact.active-hand .card:hover {
  padding-top: 0;
  padding-bottom: 10px;
}
.vhand-compact {
  display: inline-block;
  vertical-align: top;
}
.vhand-compact .card:first-child {
  display: block;
  margin-top: 0;
  padding-right: 10px;
}
.vhand-compact .card {
  display: block;
  margin-top: -60%;
  padding-right: 10px;
  width: 45%;
}
.active-hand .vhand-compact .card:hover,
.vhand-compact.active-hand .card:hover {
  display: block;
  padding-right: 0;
  padding-left: 10px;
}
