body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #457f3f;
}

* {
  margin: 0px;
  box-sizing: border-box;
  color: white;
  font-weight: bolder;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.gameContainer {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(9, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 100vh;
}
.player {
  margin: 1em;
}

.player0 {
  grid-area: 3 / 1 / 7 / 4;
}
.player1 {
  grid-area: 1 / 3 / 3 / 15;
}
.player2 {
  grid-area: 3 / 14 / 7 / 17;
}
.me {
  grid-area: 7 / 3 / 9 / 15;
}
.board {
  grid-area: 3 / 4 / 7 / 14;
  border: 2px solid gray;
}
.scoreboard {
  grid-area: 9 / 1 / 10 / 17;
}

input {
  margin: 10px;
  padding: 10px;
  width: 40%;
  color: black;
  font-size: larger;
}
.button {
  margin-top: 10px;
  padding: 10px;
  width:48%;
  color: #457f3f;
  background-color: aliceblue;
  cursor: pointer;
}
.button:hover {
  background-color: rgb(77, 121, 223);
  color: white;
}
.trump-option {
  display: flex;
  justify-content: space-evenly;
  padding-top: 20px;
}
.trump-option > div {
  border: 1px solid lightgray;
  padding: 10px;
}
.board-cards {
  display: flex;
  justify-content: space-around;
}

.text {
  font-size: 100%;
}

.tell-hands{
  display: flex;
  justify-content: center;
  width: auto;
}
.tell-hands > *{
  margin: 5px;
  width: auto;
}
.tell-hands > p{
  margin-top: 15px;
}



.card {
  border: 0;
  vertical-align: initial;
  box-sizing: initial;
}
.hand,
.card {
  margin: 0;
  padding: 0;
}
.active-hand .card {
  cursor: pointer;
}
.hhand {
  display: inline-block;
}
.hhand.active-hand .card:hover {
  padding-top: 0;
  padding-bottom: 10px;
}
.vhand {
  display: block;
}
.vhand .card {
  padding-right: 10px;
}
.hhand-compact {
  display: inline-block;
}
.hhand-compact .card:first-child {
  margin-left: 0;
}
.hhand-compact .card {
  margin-left: -5%;
  width: 7%;
}
.hhand-compact.active-hand .card:hover {
  padding-top: 0;
  padding-bottom: 10px;
}
.vhand-compact {
  display: inline-block;
  vertical-align: top;
}
.vhand-compact .card:first-child {
  display: block;
  margin-top: 0;
  padding-right: 10px;
}
.vhand-compact .card {
  display: block;
  margin-top: -55%;
  padding-right: 10px;
  width: 45%;
}
.active-hand .vhand-compact .card:hover,
.vhand-compact.active-hand .card:hover {
  display: block;
  padding-right: 0;
  padding-left: 10px;
}
